body{
    text-align:center;
}
.cont{
    display:flex;
    justify-content: center;
}
.btn{
    height:200px;
    width:200px;
    margin:0.7rem;
    border-radius: 26%;;
    border: 5px solid black;
}
.yellow{
    background-color: rgb(249, 164, 84);
}
.green{
    background-color: rgb(25, 150, 115)
}
.red{
    background-color:rgba(160, 30, 73, 0.819);
}
.blue{
    background-color:rgb(77, 183, 193);
}
@media(max-width:400px){
   .cont{
    flex-wrap:wrap;
   }
}

.flash{
    background-color:white;
}